<h2>Admin panel</h2>

<table>
<tr>
<td>
<form method="post" action="/admin/sql/delete">
<input type="submit" value="Purge SQL Database" name="sqldb_button" id="sqldb_button" title="Purge SQL database" class="btn"/>
</form>
</td>
<td>
<form method="post" action="/admin/results/delete">
<input type="submit" value="Truncate results" name="truncresults_button" id="truncresults_button" title="Truncate results" class="btn"/>
</form>
</td>
</tr>
</table>

<br/>

<div class="control-group">
  <div class="controls">
    <a href="/machines/new"><button class="btn btn-default">Add new Machine</button></a>
  </div>
</div>                                                 

<%=partial :'machines/_list'%>