<h2>Public API</h2>


<div class="well">
	<h3>JSON interface</h3>

	<div class="well">

		<h4>/api/job/:name</h4>
		<p>This will return a json object containing job details such as id,name and build commands.</p>
	</div>
	<div class="well">
	<h4>/api/project/:name</h4>
	<p>This will return a json object with high level project parameters</p>
</div>
	<div class="well">
	<h4>/api/project/lastrun/:name</h4>
	<p>Returns a json object identical to /api/json/:name except will be the last run for the project selected</p>
	</div>

</div>
