<h2 style="text-align: center">CI Status for Automation Stack Projects</h2>

<div class="row">
	<div class="well span6 offset3">
	<%if @lab_projects.nil? or @lab_projects.empty?%>
		<h3>Cannot obtain CI status currently. Either the CI server is down or it cannot be reached."<h3>
	<%else%>
		<%@lab_projects.each do |p, info|%>
			<a href="<%=info[1]%>" data-toggle="tooltip" title="Click to open CI job page in new tab." target="_blank">
				<div class="progress <%=@status_classes[info[0]]%>" style="height: 3em">
					<div class="bar" style="width: 100%">
						<h5><%=p%></h5>
					</div>
				</div>
			</a>
		<%end%>
	<%end%>
	</div>
</div>

<!-- Auto-refresh script - include this snippet on any page from which you wish to control auto-refresh. -->
<script>
	show_refresh_form = true;
	<%if should_autorefresh? %>
		setTimeout(function () { location.reload(1); }, 15000);
	<%end%>
</script>
