<form charset="UTF-8" class="form-horizontal" method="POST">
    <fieldset>
      <div id="legend" class="">
        <legend class="">Contact us</legend>
      </div>
    

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="subject">Subject:</label>
          <div class="controls">
            <input type="text" placeholder="subject" class="input-xlarge" name="subject">
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">Priority:</label>
          <div class="controls">
            <select class="input-xlarge" name="priority">
      <option>low</option>
      <option>med</option>
      <option>high</option></select>
          </div>

        </div>

    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">Description:</label>
          <div class="controls">
            <div class="textarea">
                  <textarea type="" class="" style="margin: 0px; width: 365px; height: 150px;" name="description"> </textarea>
            </div>
          </div>
        </div>

    <div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary" name="send">Send</button>&nbsp;<button class="btn btn-danger">Cancel</button>    
          </div>
        </div>
  </form>
