<FORM class="form-horizontal">
    <FIELDSET>
      <DIV id="legend" class="">
        Form Name
      </DIV>
    

   

   <DIV class="control-group">

          <!-- Text input-->
          <LABEL class="control-label" for="input01">Title</LABEL>
          <DIV class="controls">
            <INPUT type="text" placeholder="Feedback form" class="input-xlarge">
            <P class="help-block">Subject title</P>
          </DIV>
        </DIV>

   <DIV class="control-group">
          <LABEL class="control-label">Priority</LABEL>
          <DIV class="controls">
      <!-- Inline Radios -->
      <LABEL class="radio inline">
        <INPUT type="radio" value="Low" name="undefined" checked="checked">
        Low
      </LABEL>
      <LABEL class="radio inline">
        <INPUT type="radio" value="Medium" name="undefined">
        Medium
      </LABEL>
      <LABEL class="radio inline">
        <INPUT type="radio" value="High" name="undefined">
        High
      </LABEL>
  </DIV>
        </DIV>

   <DIV class="control-group">

          <!-- Textarea -->
          <LABEL class="control-label">Textarea</LABEL>
          <DIV class="controls">
            <DIV class="textarea">
                  <TEXTAREA type="" class=""> </TEXTAREA>
            </DIV>
          </DIV>
        </DIV>

   <DIV class="control-group">
          <LABEL class="control-label">Finish</LABEL>

          <!-- Button -->
          <DIV class="controls">
            <BUTTON class="btn undefined">Send</BUTTON>
          </DIV>
        </DIV>

   </FIELDSET>
  </FORM>
           
