
<div class="hero-unit">

        <h1>Automation stack</h1>
        <p>Welcome to the Automation stack frontend</p>
        <p>
        <form method="get" action="/job">
        <input type="submit" value="New Job &raquo;" name="job_button" id="job_button" title="New Job" class="btn btn-primary btn-large"/>
        </form>
        </p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Machines</h2>
          <p>View a list of available machines and configurations.</p>
          <form method="get" action="/machines">
        <input type="submit" value="View machines &raquo;" name="job_button" id="job_button" title="New Job" class="btn"/>
        </form>
          </p>
        </div>
        <div class="span4">
          <h2>Results</h2>
          <p>View results from previous jobs</p>
          <p>
          <form method="get" action="/results">
        <input type="submit" value="View results &raquo;" name="job_button" id="job_button" title="New Job" class="btn"/>
        </form>
          </p>
       </div>
        <div class="span4">
          <h2>Analytics</h2>
          <p>View graphs of system performance</p>
          <p>
          <form method="get" action="/analytics">
        <input type="submit" value="View analytics &raquo;" name="job_button" id="job_button" title="New Job" class="btn"/>
        </form>
        </p>
        </div>
      </div>
      
      <div class="row">
            <div class="span4">
          <h2>Installer</h2>
          <p>Node installer</p>
          <p>
          <form method="get" action="/resources">
        <input type="submit" value="View Installer &raquo;" name="job_button" id="job_button" title="New Job" class="btn"/>
        </form>
        </p>
        </div>

      </div>
     

