    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
    
       <div class="container-narrow">

      <hr>

      <div class="jumbotron">
        <h1>Slave installer</h1>
        <p class="lead">Deploy this node on a remote computer by following the installation guide.</p>
        <a class="btn btn-large btn-success" href="https://github.com/AlexsJones/tentacle/archive/master.zip">Download</a>

      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Step one</h4>
          <p>Extract the tarball with tar -xvf or a GUI application</p>

          <h4>Step two</h4>
          <p>Run these commands; make && sudo make install;</p>

          <h4>Step three</h4>
          <p>Start your satellite node with: satellite -m LISTEN -p 9099</p>
        </div>


      </div>

      <hr>


    </div> <!-- /container -->
