<link href="/css/bootstrap-scroll-modal.css" res="stylesheet">
<!-- Process the devices from the modal -->
<!-- Our device modal --!>
<!-- End --!>
<form action="/job" method="post" enctype="multipart/form-data">
	<div id="deviceModal" class="modal hide" style="opacity:1.0;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">&times;</a>
			<h3>Device Selection</h3>
		</div>
		<div class="modal-body">
			<ul id="device_list" style="list-style-type:none;text-decoration:none;">
				<%for device in @devices %>
					<% if device.ip %>
					<li >
					<input type="checkbox" id="<%=device.tag%>" name="SELECTED_DEVICE=<%=device.id%>"><%=device.name%></input>
					</li>
				<%end%>
				<%end %>
			</ul>
		</div>
		<div class="modal-footer">
			<input class="btn"id="submit" type="submit" value="submit"/>
		</div>
	</div>
	<% if not @errors.empty? %>
		<div class="errors">
			<p>Validation errors:</p>
			<% @errors.each do |key, value| %>
				<li><%= value %></li>
			<% end %>
		</div>
		<br>
	<% end %>    
	<div class="col-1-3 well"style="height:475px;">
		<h1>New job</h1>
		<h4>Job name</h4>
		<input type="text" name="lname" id="lname">
		<br>
		<h4>Configuration file</h4>
		<div style="position:relative;">
			<a class='btn' href='javascript:;'>
				Choose File...
				<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val().replace("C:\\fakepath\\", ""));'>
			</a>
			&nbsp;
			<span class='label label-info' id="upload-file-info"></span>
		</div>
		<h4>Trigger time</h4>

		<link rel="stylesheet" type="text/css" media="screen"
		href="/css/bootstrap-datetimepicker.min.css">
		<div id="datetimepicker" class="input-append date">
			<input type="text"  name="ltrigger" id="ltrigger"></input>
			<span class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
		<script type="text/javascript"
			src="jquery.min.js">
			</script> 
			<script type="text/javascript"
				src="/js/bootstrap.min.js">
				</script>
				<script type="text/javascript"
					src="/js/bootstrap-datetimepicker.min.js">
					</script>
					<script type="text/javascript">
						$('#datetimepicker').datetimepicker({
format: 'dd/MM/yyyy hh:mm:ss',
pickDate: false
});
jQuery(function($) {
		$('div.btn-group[data-toggle-name=*]').each(function(){
			var group   = $(this);
			var form    = group.parents('form').eq(0);
			var name    = group.attr('data-toggle-name');
			var hidden  = $('input[name="' + name + '"]', form);
			$('button', group).each(function(){
				var button = $(this);
				button.live('click', function(){
					hidden.val($(this).val());
					});
				if(button.val() == hidden.val()) {
				button.addClass('active');
				}
				});
			});
		});
</script>
<br />
<div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
	<button type="button" value="0" class="btn" data-toggle="button">Single</button>
	<button type="button" value="1" class="btn" data-toggle="button">Recursive</button>
</div>
<br />
<input type="hidden" name="is_private" value="0" />
</form>
<h4>Select devices</h4>
<a class="btn btn-info" data-dynamic="true" data-toggle="modal" href="#deviceModal">Device selection</a>
</div>
<div class="col-1-3 well" style="margin-top:-15px;height:475px;">
	<h2>Environmental variables</h2>
	<span>The following are variables you can put into your script and will be automatically resolved for the correct entry</span>
	<h4>IP addresses</h4>
	<p>$PHONE_ENDPOINT</p>
	<p>$PAD_ENDPOINT</p>
	<h4>Serial address</h4>
	<p>$PHONE_SERIAL</p>
	<p>$PAD_SERIAL</p>
	<span>e.g. "DEVICE_ENDPOINT=http://$PHONE_ENDPOINT cucumber"</span>
</div>
<script src="/js/bootstrap-scroll-modal.js"></script>
<script src="/js/bootstrap-transition.js"></script>
