<ul> 
  <% @arr.each do |page| %>

	  <%if File.open(page).include?("Errno") %>
		  <li><a href="/<%=page%>"><%=page%></a></li>
	  <% else %>
	  <li><a href="/<%=page%>"><%=page%></a></li>
  		<% end %>
  <% end %>
</ul> 
