<form action="/unclebob" method="GET">
	<input type="checkbox" name="checky" value="1">One</input>
	<input type="checkbox" name="checky" value="2">Two</input>
	<input type="checkbox" name="checky" value="3">Three</input>
	<input type="checkbox" name="checky" value="4">Four</input>
	<input type="checkbox" name="checky" value="5">Five</input>
	<input type="submit" value="Submit">
</form>
