body
{

background: #475c56;
background-image: url("zenbg-1.png"), url("zenbg-2.png");
background-repeat: repeat-x, repeat;
}
h1,h2
{
/*color:white;*/
/*text-shadow: 5px -2px 3px rgba(150, 153, 150, 1);*/
}
p
{
/*color:white;*/
}
tr
{
/*color:white;*/
background-color:gray;
}
.switcher{
    color:red;
    font-weight: bold;
}

.switcher.enabled{
    color:green;
    font-weight: bold;
}
#chartContainer
{
/* Dont use this sort of css, its just temporary */
position:fixed;
top:100px;
right:40px;
}
