<div class="control-group">
  <div class="controls">
    <a href="/machines/new"><button class="btn btn-default">Add new Machine</button></a>
  </div>
</div>                                                 
<br/>

<%=partial :'machines/_list'%>