<div class="control-group">
  <div class="controls">
    <%if can_edit?%><a href="/machines/new"><button class="btn btn-default">Add new Machine</button></a><%end%>
  </div>
</div>                                                 
<br/>

<%=partial :'machines/_list'%>