<form charset="UTF-8" action="#" method="post" enctype="multipart/form-data">

	<h5>Trigger Time</h5>

	<div class="well">
	<p><%=Time.at(@job.trigger_time).strftime('%d-%m-%Y %H:%M:%S')%>
	<% if @job.recursion == 1 %>
		<span>&nbsp;</span> repeats every <%=recurrence_string(@job.interval)%>.
	<% end %>
	</div>

	<h5>Build Commands</h5>
	<pre class="well pre-scrollable text-warning" style="padding-top: 0px; padding-bottom: 0px" ><%="#{@job.command}"%></pre>
</form>
